<div class="cubePerspective">
    <div class="cube">
        <img src="//sugartown.scene7.com/is/image/sugartown/23142_irisblue?wid=186&amp;hei=298&amp;$JPGHigh$">
    </div>
    <div class="cube"><img src="//sugartown.scene7.com/is/image/sugartown/23142_irisblue?wid=186&amp;hei=298&amp;$JPGHigh$"></div>
    <div class="cube"><img src="//sugartown.scene7.com/is/image/sugartown/23142_irisblue?wid=186&amp;hei=298&amp;$JPGHigh$"></div>
    <div class="cube"><img src="//sugartown.scene7.com/is/image/sugartown/23142_irisblue_a1?wid=186&amp;hei=298&amp;$JPGHigh$"></div>
</div>
