.catalogEntityThumbnail {
    border: 1px solid pink;
}

.catalogEntityThumbnail:nth-child(2) {
    border: 1px solid purple;
}

.catalogEntityThumbnail:nth-child(3) {
    border: 1px solid red;
}

.cubePerspective {
    width: 184px;
    position: absolute;
    height: 100%;
    backface-visibility: visible;
    perspective: 500px;
    -webkit-perspective: 500px;
    perspective-origin: 150% 150%;
    transform-style: preserve-3d;
    -webkit-backface-visibility: visible;
    -webkit-perspective-origin: 50% 50%;
    -webkit-transform-style: preserve-3d;
    top: 0;
    left: 0;
}

.cube {
    opacity: 0.9;
    height: 100%;
    width: 183px;
    top: 0px;
    left: 0px;
}

.cube:nth-child(1) {
    position: absolute;
    background-color: deeppink;
    transform: translateY(0px) translateZ(0px) translateX(0px);
}

.cube:nth-child(2) {
    position: absolute;
    background-color: silver;
    transform: rotateY(90deg) translateZ(92px) translateX(92px) translateY(0px);
}

.cube:nth-child(3) {
    position: absolute;
    background-color: purple;
    transform: translateZ(-184px) translateX(0px) translateY(0px);
}

.cube:nth-child(4) {
    position: absolute;
    background-color: yellow;
    transform: rotateY(90deg) translateX(92px) translateY(0px) translateZ(-92px);
}

.cube:nth-child(5) {
    position: absolute;
    background-color: purple;
    transform: rotateY(180deg) translateZ(-150px);
}

.cube:nth-child(6) {
    position: absolute;
    background-color: orange;
    transform: rotateY(270deg) translateZ(80px);
}

.cube > img {
    position: relative;
    display: none;
    display: block;
}
