.catalogEntityThumbnail {
    border: 1px solid pink;
}

.catalogEntityThumbnail:nth-child(2) {
    border: 1px solid purple;
}

.catalogEntityThumbnail:nth-child(3) {
    border: 1px solid red;
}

.cubePerspective {
    width: 183px;
    height: 200px;
    backface-visibility: visible;
    perspective: 500px;
    -webkit-perspective: 500px;
    perspective-origin: 150% 150%;
    transform-style: preserve-3d;
    -webkit-backface-visibility: visible;
    -webkit-perspective-origin: 150% 150%;
    -webkit-transform-style: preserve-3d;
}

.cube {
    opacity: 0.8;
    height: 100px;
    width: 100px;
}

.cube:nth-child(1) {
    position: absolute;
    background-color: deeppink;
    transform: translateY(50px) translateZ(50px) translateX(50px);
    opacity: 0.6;
}

.cube:nth-child(2) {
    position: absolute;
    background-color: silver;
    transform: rotateY(90deg) translateZ(100px) translateX(0px) translateY(50px);
}

.cube:nth-child(3) {
    position: absolute;
    background-color: purple;
    transform: translateZ(-50px) translateX(50px) translateY(50px);
    opacity: 0.6;
}

.cube:nth-child(4) {
    position: absolute;
    background-color: yellow;
    transform: rotateY(90deg) translateY(50px) translateZ(0px);
    opacity: 0.6;
}

.cube:nth-child(5) {
    position: absolute;
    background-color: purple;
    transform: rotateY(180deg) translateZ(-150px);
}

.cube:nth-child(6) {
    position: absolute;
    background-color: orange;
    transform: rotateY(270deg) translateZ(80px);
}

.cube > img {
    position: relative;
    display: none
}
